<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="app.grapheneos.pdfviewer.test.TestPdfProvider"
            android:authorities="app.grapheneos.pdfviewer.test.provider"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>