html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
}

#container {
    --scale-factor: 1;

    --inset-top: 0;
    --inset-right: 0;
    --inset-bottom: 0;
    --inset-left: 0;

    position: fixed;
    overflow: auto;
    inset: 0;
    padding-top: var(--inset-top);
    padding-right: var(--inset-right);
    padding-bottom: var(--inset-bottom);
    padding-left: var(--inset-left);
}

#container .page {
    --user-unit: 1;
    --total-scale-factor: calc(var(--scale-factor) * var(--user-unit));
    --scale-round-x: 1px;
    --scale-round-y: 1px;

    --page-width: 0;
    --page-height: 0;

    position: relative;
    width: round(down, var(--total-scale-factor) * var(--page-width), var(--scale-round-x));
    height: round(down, var(--total-scale-factor) * var(--page-height), var(--scale-round-y));
    margin: 0 auto;
}

.page canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

[data-main-rotation="90"] {
    transform: rotate(90deg) translateY(-100%);
}

[data-main-rotation="180"] {
    transform: rotate(180deg) translate(-100%, -100%);
}

[data-main-rotation="270"] {
    transform: rotate(270deg) translateX(-100%);
}

.hiddenCanvasElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
}
